
div.svGrid{
	overflow:hidden;
}

div.svGrid div.gridHeaderDiv{
	width:100%;
	overflow:hidden;
}

div.svGrid table.gridHeader {
	border: solid 0px;
	border-spacing:0;
	border-collapse:collapse;
}

div.svGrid table.gridHeader tr{
	background-color:yellow;
}

div.svGrid table.gridHeader tr td{
	border: solid 1px #333333;
	padding: 2px 3px;
	text-align:center;
	vertical-align:middle;
	border-spacing:0;
}


div.svGrid div.gridContentsDiv{
	width:100%;
	overflow:auto;
}

div.svGrid table.gridContents {
	border: solid 0px;
	border-spacing:0;
	border-collapse:collapse;
}
div.svGrid table.gridContents tr{
	background-color:#DDDDDD;
}
div.svGrid table.gridContents tr td{
	border: solid 1px #333333;
	padding: 2px 3px;
	border-spacing:0;
}

